<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        bootstrap="vendor/autoload.php"
        cacheDirectory=".phpunit.cache"
        cacheResult="false"
        colors="true"
        processIsolation="false"
        stopOnFailure="false"
        backupGlobals="false"
        backupStaticProperties="false"
        xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.0/phpunit.xsd"
>
    <testsuites>
        <testsuite name="Felicio">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>

    <coverage>
        <report>
            <html
                    outputDirectory="tests/logs/coverage"
                    lowUpperBound="35"
                    highLowerBound="70"
            />
        </report>
    </coverage>

    <logging>
        <testdoxHtml outputFile="tests/logs/testdox/testdox.html"/>
        <testdoxText outputFile="tests/logs/testdox/testdox.txt"/>
    </logging>
</phpunit>